.slider1{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px auto;
}
.slider1-img{
    width: 200px;
    height: 200px;
}
.slider2{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px auto;
}
.slider2-img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
}
.slider2-group{
    position: relative;
    width: 200px;
    height: 200px;
}
.slider3{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px auto;
}
.slider3-group{
    height: 200px;
    width: 200px;
    border: 2px solid black; 
    overflow: hidden;      /* маска */
}
.slider3-img{
    height: 200px;
    width: 200px;

}
.line{
    /*white-space: nowrap;   построение в линию */
    transform: translateX(0); /* зануление */
    transition: .5s;
    display: flex;
    flex-wrap: nowrap;
}
.slickslide{
    width: 80%;
}
.slick-track > img{
height: 110px;
margin: 0 5px;

}
.slick-list{
    height: 200px;
    width: 300px;
}
.slick-track{
    height: 100%;
}
